;;;;;;;;;; Recommended PHP.ini settings ;;;;;;;;;;
memory_limit = {{ getenv "PHP_MEMORY_LIMIT" "756M" }}
upload_max_filesize = {{ getenv "PHP_UPLOAD_MAX_FILESIZE" "64M" }}
post_max_size = {{ getenv "PHP_POST_MAX_SIZE" "64M" }}
max_execution_time = {{ getenv "PHP_MAX_EXECUTION_TIME" "18000" }}
max_input_vars = 200000
max_input_time = 600
date.timezone = Europe/Rome
error_reporting = E_ALL & ~E_NOTICE & ~E_WARNING
;;;;;;;;;; xDebug ;;;;;;;;;;
xdebug.mode = debug
xdebug.idekey = "phpstorm"
xdebug.start_with_request = 1
xdebug.discover_client_host = 0
xdebug.client_port = 9000
xdebug.client_host = "host.docker.internal"
;;;;;;;;;; Mailhog ;;;;;;;;;; 
sendmail_path = "/usr/bin/msmtp -C /etc/msmtprc -a -t" 